{% load static %}

<style>
  .hello{
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
  }
  .hello:hover{
    color: #fff;
    text-decoration: none;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img id="logo" src="{% static '/images/logo.png' %}" alt="" title="Customer Management System">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
      </ul>
    </div>
    <span class="hello">Welcome, {{ request.user|title }} </span>
    <span><a class="hello" href="{% url 'logout' %}">Logout</a></span>
  </nav>