{% extends 'accounts/main.html' %}

{% block content %}
<div class="container-fluid">
    {% include 'accounts/status.html' %}
    <div class="row">
        <div class="col-md-11 m-auto">
            <h5 class="text-center">TOTAL ORDERS:</h5>
            <hr>
            <div class="card card-body">
                {% if orders %}
                <table class="table table-sm">
                    <tr>
                        <th>Customer</th>
                        <th>Product</th>
                        <th>Date Order</th>
                        <th>QTY</th>
                        <th>Status</th>
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.customer }}</td>
                        <td>{{ order.Product }}</td>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.order_content }}</td>
                        <td>
                            {% if order.statur == "Delivered" %}
                                <a class="btn btn-sm btn-success">{{ order.statur }}</a>
                            {% endif %}
                            {% if order.statur == "Pending" %}
                                <a class="btn btn-sm btn-warning">{{ order.statur }}</a>
                            {% endif %}
                            {% if order.statur == "Canceled Order" %}
                                <a class="btn btn-sm btn-danger">{{ order.statur }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <h3 class="h3 text-center py-3 text-danger">Order Not Found</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}