<style>
    .card-title-status{
        color: #fff;
        margin-top: 15px;
    }
</style>
<br>
<div class="container-fluid">
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-whith mb-3 bg-info" id="total-orders">
                <div class="care-header">
                    <h5 class="card-title-status">Total Orders</h5>
                    <hr>
                </div>
                <div class="card-body">
                    <h3 class="card-title-status">{{ total_orders }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-whith mb-3 bg-success" id="order-delevered">
                <div class="care-header">
                    <h5 class="card-title-status">Order Delivered</h5>
                    <hr>
                </div>
                <div class="card-body">
                    <h3 class="card-title-status">{{ order_delivered }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-whith mb-3 bg-warning" id="order-rending">
                <div class="care-header">
                    <h5 class="card-title-status">Order Pending </h5>
                    <hr>
                </div>
                <div class="card-body">
                    <h3 class="card-title-status">{{ order_pending }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-whith mb-3 bg-danger" id="order-rending">
                <div class="care-header">
                    <h5 class="card-title-status">Canceled Orders </h5>
                    <hr>
                </div>
                <div class="card-body">
                    <h3 class="card-title-status">{{ order_cancels }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
