{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
<br>
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="card card-body p-5">
            <p>Are you sure , you want to delete "{{ form }}" order?</p>
            <form action="{% url 'delete_order' form.pk %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-sm btn-info" href="/">Cancel</a>
                <input class="btn btn-sm btn-danger" type="submit" name="Confirm" value="Confirm">
            </form>
        </div>
    </div>
</div>
{% endblock %}