{% extends 'accounts/main.html' %}

{% block content %}
<div class="container-fluid">
    {% include 'accounts/status.html' %}
    <div class="row">
        <div class="col-md-11 m-auto">

            <h5 class="text-center">TOTAL ORDERS:</h5>
            <a class="btn btn-info text-center" href="{% url 'excel_export' %}">Export Data</a>
            <hr>
            <div class="card card-body">
                {% if orders %}
                <table class="table table-sm">
                    <tr>
                        <th>Customer</th>
                        <th>Product</th>
                        <th>Date Order</th>
                        <th>Status</th>
                        <th>QTY</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.customer }}</td>
                        <td>{{ order.Product }}</td>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.statur }}</td>
                        <td>{{ order.order_content }}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.pk %}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.pk %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <h3 class="h3 text-center py-3 text-danger">Order Not Found</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}